# http://editorconfig.org

root = true
# defaults --------------------------------------------------------------- #
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true

# Makefile's ------------------------------------------------------------- #
[Makefile]
indent_style = tab

# Ruby & SQL ------------------------------------------------------------- #
[*.{rb,sql}]
indent_size = 2
